html {scroll-behavior: smooth}
#main {
    margin-left: 30px;
    margin-right: 20px;
    align-items: start;
}

#mainTitle {
    font-size: 28px;
    padding: 10px;
}

#title2 {
    font-size: 16px;
}

#intro {
    padding: 10px;
    font-size: 23px;
}

#mainPicAndText {
    display: flex;
    justify-content: space-between;
}

#list {
    padding: 10px;
    font-size: 15px;
    margin-left: 200px;
}

#mainInfo {
    padding: 10px;
    font-size: 23px;
}

#mainPortrait {
    height: 400px;
    width: 500px;
    padding: 10px;
}

#intro {
    padding: 10px;
}

#list {
    padding: 10px;
    font-size: 14px;
    margin: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.pic {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}

#upSighn {
    font-size: 25px;
    display: flex ;
    justify-content: center;
}

