
.backColor {
    background: silver;
}

.wrap {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.boxA {
    height: 300px;
    margin: 5px;
}

.boxB {
    width: 70%;
    margin: 5px;
}

.boxC {
    width: 30%;
    margin: 5px;
}

.boxD {
    height: 49.15%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.boxE {
    height: 100%;
    width: 33.333%;
    background: silver;

}
.boxX {
    margin-left: 10px;
    margin-right: 10px;
}

