html {scroll-behavior: smooth}
#main {
    margin-left: 30px;
    margin-right: 20px;
    align-items: start;
    margin-bottom: 60px;
    font-family: "Times New Roman";
}

#mainTitle {
    font-size: 28px;
    padding: 10px;
}

#title2 {
    font-size: 16px;
}
#title3 {
    font-size: 18px;
}

#intro {
    padding: 10px;
    font-size: 23px;
}

#mainPicAndText {
    display: flex;
    justify-content: space-between;
}

#list {
    padding: 10px;
    font-size: 15px;
    margin-left: 200px;
}

#mainInfo {
    padding: 10px;
    font-size: 23px;
}

#mainPortrait {
    height: 400px;
    width: 500px;
    padding: 10px;
}

#intro {
    padding: 10px;
}

#list {
    padding: 10px;
    font-size: 14px;
    margin: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
}
.movieBlock:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 20px silver;
    background: white;
}

.pic {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
    padding: 10px;
}
#famostMoviesList {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

.title {
    display: flex;
    justify-content: center;
}
.upSighn {
    display: flex ;
    justify-content: center;
    margin-top: 20px;
    font-size: 10px;
}

.backBox {
    background: #151414;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;

}
.backBox:hover {
    transform: scale(1.3);
    background: silver;
    opacity: 50%;
}
.backBoxInner {
    background: #fcf7f7;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
box-sizing: border-box;
}
