body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: 92px;
    background-color: #F9F9F9;
    border-bottom: #3298F2 1px solid;
    position: relative;
}

#nav_logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: 250px;
    height: 75px;
}

#nav_menu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 75px;
    flex-grow: 1;
    margin-left: 100px;
}

.nav_item a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
}


.nav_drop_menu {
    width: 100px;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -7px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #3298F2;
    border-radius: 2%;
    padding-top: 60px;
}

.nav_drop_menu_item a {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #F9F9F9;
    text-decoration: none;
    color: #292929;
    text-transform: uppercase;
}


.nav_drop_menu:hover {
    z-index: 1;
}

.nav_drop_menu_item a:hover {
    border: 1px solid #3298F2;
}

#nav_butt {
    margin-right: 5%;
}

#nav_butt a button {
    width: 310px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #3298F2;
    background-color: #F9F9F9;
    border: #3298F2 2px solid;
    border-radius: 5px;
    height: 60px;
}

.butt_hover:hover {
    transform: scale(1.3);
}

.main_screen {
    display: flex;
    padding: 95px 100px 95px 230px;
    background-color: white;
}

#main_screen__left {
    width: 40%;
}

#main_screen__left h3 {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    color: #FF9638;
    margin-bottom: 50px;
}

#main_screen__left h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

#main_screen__left h1 span {
    color: #3298F2;
}

#main_page_text {
    font-size: 28px;
    margin-bottom: 50px;
}

.bold_text {
    font-weight: bold;
}

#test_button {
    width: 300px;
    height: 60px;
    background-color: #FF9638;
    border-radius: 5px;
    border: #FF9638;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 30px;
}

#test_button:hover {
    transform: scale(1.3);
}

#main_screen__right {
    width: 50%;
    padding-left: 150px;
    height: 900px
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: red;
}

.play_button_wrap {
    width: 150px;
    height: 80px;
    position: absolute;
    left: 850px;
    top: 720px;
    z-index: 1;
}

.play_button {
    position: absolute;
}

.play_button_item i {
    color: white;
    font-size: 34px;
}

.play_button_wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    background-color: red;
    animation: x 2s infinite;
}

@keyframes x {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
        transform: scale(1.3);
    }
}





