#main {
    display: flex;
    justify-content: center;
}

#justtyfi {
    display: flex;
    justify-content: space-between;
}

#mainBackground {
    background: silver;
    max-width: 900px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background: aqua;
    width: 200px;
    height: 200px;
    margin: 10px;
}